<div class="navbar">
  <a href="/">Home</a>
  <a href="/views/bateponto.php">Bater ponto</a>
  <div class="dropdown">
    <button class="dropbtn">Funcionário
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/views/inserirfunc.php">Inserir</a>
      <a href="/views/updatefunc.php">Atualizar</a>
      <a href="/views/deletarfunc.php">Deletar</a>
      <a href="/views/visufunc.php">Visualizar</a>
    </div>
  </div>
  <a href="/views/visupontos.php">Visualizar Pontos</a>
</div>